
{% extends "../base.njk" %}

{% block header %}
 

<table class="hide-bg"  width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="width:600px; min-width:600px; font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0; background-image: url('https://virtual.javerianacali.edu.co/file/img/bg_banner1.png'); background-repeat: no-repeat;background-size:50%; background-position: top right;">
  <tr>
    <td class="content-spacing" width="40">&nbsp;</td>
    <td align="center" style="font-size:0pt;line-height:0pt;padding:0;margin:0;">
      <table  width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="font-size:0pt;line-height:0pt;padding:0;margin:0;font-weight:normal;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%;mso-cellspacing:0px;mso-padding-alt:0px 0px 0px 0px;"><tr><td height="20" class="spacer" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%;mso-cellspacing:0px;mso-padding-alt:0px 0px 0px 0px;">&nbsp;</td></tr></table>
            
            <div class="lm-show" style="font-size:0pt; line-height:0pt; text-align: left;"><a href="https://virtual.javerianacali.edu.co" target="_blank"><img src="https://virtual.javerianacali.edu.co/file/img/javeriana_blue.png" border="0" width="180" alt="Javeriana Virtual" /></a></div>
            
            <div class="dm-show" style="font-size:0pt; line-height:0pt; text-align: left; display:none;"><a href="https://virtual.javerianacali.edu.co" target="_blank"><img src="https://virtual.javerianacali.edu.co/file/img/javeriana_white.png" border="0" width="180" alt="Javeriana Virtual " /></a></div>
            
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="m-table" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%;mso-cellspacing:0px;mso-padding-alt:0px 0px 0px 0px;"><tr><td height="40" class="spacer" style="font-size:0pt;line-height:0pt;text-align:center;width:100%;min-width:100%;mso-cellspacing:0px;mso-padding-alt:0px 0px 0px 0px;">&nbsp;</td></tr></table>
          </td>
        </tr>
      </table>
      <div class="mobile-br-large"></div>
    </td>
    <td class="content-spacing" width="40">&nbsp;</td>
  </tr>
</table> 


{% endblock %}






{% block footer %}



<table class="hide-bg" bgcolor="#2c5697" width="100%" border="0" cellspacing="0" cellpadding="0" style="background-image: url('https://virtual.javerianacali.edu.co/file/img/bg_footer.png'); background-repeat: no-repeat; background-position: right; background-size: contain;">
  <tr>
    <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="40">&nbsp;</td>
    <td style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%; mso-cellspacing:0px; mso-padding-alt:0px 0px 0px 0px"><tr><td height="40" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%; mso-cellspacing:0px; mso-padding-alt:0px 0px 0px 0px">&nbsp;</td></tr></table>
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top" align="left" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0">
            <table class="center" border="0" cellspacing="0" cellpadding="0" >
              <tr>
                <td width="25px" valign="middle" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0;text-align: center;">
                  <a target="_blank" href="https://www.facebook.com/universidad.javerianacali/" title="Encuentranos en Facebook"><img src="https://virtual.javerianacali.edu.co/file/img/icon_facebook.png" border="0" width="25" alt="" /></a>
                </td>
                <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="10">&nbsp;</td>
                <td width="25px" valign="middle" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0;text-align: center;">
                  <a target="_blank" href="https://co.linkedin.com/school/javerianacali/" title="Encuentranos en LinkedIn"><img src="https://virtual.javerianacali.edu.co/file/img/icon_linkedin.png" border="0" width="25" alt="" /></a>
                </td>
                <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="10">&nbsp;</td>
                <td width="25px" valign="middle" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0;text-align: center;">
                  <a target="_blank" href="https://www.instagram.com/javerianacali/" title="Encuentranos en Instagram"><img src="https://virtual.javerianacali.edu.co/file/img/icon_instagram.png" border="0" width="25" alt="" /></a>
                </td>
                <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="10">&nbsp;</td>
                <td width="25px" valign="middle" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0;text-align: center;">
                  <a target="_blank" href="https://twitter.com/javerianacali" title="Encuentranos en Instagram"><img src="https://virtual.javerianacali.edu.co/file/img/icon_twitter.png" border="0" width="25" alt="" /></a>
                </td>
              </tr>
            </table>
            
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%; mso-cellspacing:0px; mso-padding-alt:0px 0px 0px 0px"><tr><td height="20" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%; mso-cellspacing:0px; mso-padding-alt:0px 0px 0px 0px">&nbsp;</td></tr></table>
            
            <table class="center" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="text" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:22px; text-align:left;"><strong>Correo:</strong>
                </td>
                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10">&nbsp;</td>
                <td class="text" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:22px; text-align:left;"> <a style="color:#ffffff;" href="mailto:diplomados@virtualjaverianacali.co " title="Escríbenos">diplomados@virtualjaverianacali.co</a>
                </td>
              </tr>
              <tr>
                <td class="text" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:22px; text-align:left;"><strong>Teléfono:</strong>
                </td>
                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10">&nbsp;</td>
                <td class="text" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:22px; text-align:left;"><a style="color:#ffffff;" href="tel:+576015938718" title="Llámanos">601 593 8718</a>
                </td>
              </tr>
              <tr>
                <td class="text" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:22px; text-align:left;"><strong>WhatsApp:</strong>
                </td>
                <td class="img" style="font-size:0pt; line-height:0pt; text-align:left" width="10">&nbsp;</td>
                <td class="text" style="color:#ffffff; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:22px; text-align:left;"><a style="color:#ffffff;" href="https://api.whatsapp.com/send?phone=573330333376&text=Hola,%20quiero%20saber%20más%20de%20los%20programas%20de%20Javeriana%20virtual." title="Escríbenos">333 033 3376</a>
                </td>
              </tr>
            </table>
            
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%; mso-cellspacing:0px; mso-padding-alt:0px 0px 0px 0px"><tr><td height="10" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%; mso-cellspacing:0px; mso-padding-alt:0px 0px 0px 0px">&nbsp;</td></tr></table>
            
            <div class="text-center" style="color:#f2f2f2; font-family: Arial, Helvetica, sans-serif; font-size:9px; line-height:12px; text-align:left;">(<span style="text-transform: uppercase;">Vigilada mineducación</span> Res. 12220 de 2016)</div>
            
          </td>
          
        </tr>
      </table>
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%; mso-cellspacing:0px; mso-padding-alt:0px 0px 0px 0px"><tr><td height="40" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%; mso-cellspacing:0px; mso-padding-alt:0px 0px 0px 0px">&nbsp;</td></tr></table>
    </td>
    <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="40">&nbsp;</td>
  </tr>
</table>



{% endblock %}
