
{% extends "../base.njk" %}

{% block header %}
 {% call function.setTable({ singleColum:true, background: {color: "#004993" } } )%}

    </tr>  
  <tr>
  <th width="100%" class="column">
 {{ function.setSpacer(20) }}
  {% set headerAttrs = {
    tableAttrs: {
      background: {
        color: "#004993"
      },
      addGutters: true,
      paddingSize: { left: "50", right: "50" },
      paddingClass: {left: "content-spacing-large", right: "content-spacing-large"},
      spacer: {
        top: 10,
        bottom: 10
      }
    },
    image: {
      url: "https://online.unapec.edu.do/images/unapec_isologo_emm.png",
      width: "160",
      alt: "CESUN Online",
      align: "left",
      class:"img-m-left",
      link: {
        href: "https://virtual.usmp.edu.pe/" 
      }
    }
  } %}
  {% include "../template-parts/demo/header.njk" %}
   {{ function.setSpacer(20) }}
</th>


{% endcall %}

{% endblock %}

{% block footer %}

  <!--Contact -->
 {% call function.setTable({ singleColumn:true,addGutters: true, paddingSize: { left: "30", right: "30" }, paddingClass: {left: "content-spacing"}, background: {color: "#082851" } } )%}
{{ function.setSpacer(40) }}
      {% call function.setTable({} )%}
       {% set textAttrs = {
          tableAttrs: {
            
          },
          font: {
            family: "'Open Sans', Arial, Helvetica, sans-serif",
            size: "14px",
            lineHeight: "20px",
            align: "left",
            color: "#ffffff",
            weight: "normal"
           
          },
          classAlign: "left",
          text: "Si tienes dudas o consultas adicionales, comunícate con nosotros."
        } %}
        {% include "../template-parts/fragments/text.njk" %}
    </tr>
    <tr>
      <td class="column" width="70%">
        
     

     {{ function.setSpacer(10) }}
     {% set textAttrs = {
  tableAttrs:{
  },
  font: {
    size: "11px",
    color: "#ffffff",
    lineHeight: "18px",
    family: "'Open Sans', Arial, Helvetica, sans-serif",
    align: "left",
    weight: "bold"
  },
  classAlign: "left",
  text: 'Correo: <a style="text-decoration:none; color:white; weight:regular;" href="mailto:diplomados@unapeconline.do" title="Escríbenos">diplomados@unapeconline.do</a>'
}%}
{% include "template-parts/fragments/text.njk" %}

  {% set textAttrs = {
  tableAttrs:{
  },
  font: {
    size: "11px",
    color: "#ffffff",
    lineHeight: "18px",
    family: "'Open Sans', Arial, Helvetica, sans-serif",
    align: "left",
    weight: "bold"
  },
  classAlign: "left",
  text: 'Teléfono: <a style="text-decoration:none; color:white; weight:regular;" href="tel:+18299542208" title="Llámanos">829-954-2208</a>'
}%}
{% include "template-parts/fragments/text.njk" %}

{% set textAttrs = {
  tableAttrs:{
  },
  font: {
    size: "11px",
    color: "#ffffff",
    lineHeight: "18px",
    family: "'Open Sans', Arial, Helvetica, sans-serif",
    align: "left",
    weight: "bold"
  },
  classAlign: "left",
  text: 'Whatsapp: <a style="text-decoration:none; color:white; weight:regular;" href="https://api.whatsapp.com/send?phone=18299462272&text=Hola,%20quisiera%20informaci%C3%B3n%20sobre%20el%20proceso%20de%20inscripci%C3%B3n%20a%20los%20programas%20de%20la%20UNAPEC." title="Enviar mensaje">829-946-2272</a>'
}%}
{% include "template-parts/fragments/text.njk" %}


        </td>
        
        <td class="column">
            {% set headerAttrs = {
    tableAttrs: {
      background: {
        color: "#082851"
      },
      addGutters: true,
      spacer: {
        top: 10,
        bottom: 10
      }
    },
    image: {
      url: "https://online.unapec.edu.do/images/unapec_isologo_emm.png",
      width: "150",
      alt: "UNAPEC ONLINE",
      align: "right",
      class:"img-m-right",
      link: {
        href: "https://virtual.usmp.edu.pe/" 
      }
    }
  } %}
  {% include "../template-parts/demo/header.njk" %}

          </td>
    {% endcall %}
        {{ function.setSpacer(40) }}
      {% endcall %}
    

{% endblock %}
