{% set textAttrs = {
  tableAttrs: {
    addContainer: true,
    singleColumn: true,
    addGutters: true,
    spacer: 30,
    background: {
      color: "white"
    }
  },
  font: {
    family: "sans-serif",
    color: "gray",
    size: "18px",
    lineHeight: "26px"
  }
} %}
{% extends "../fragments/text.njk" %}

{% block textContent %}
  {% markdown "demo.md"%}
  {% set headerAttrs = {
    tableAttrs: {
      background: {
        color: "blue"
      }
    },
    image: {
      url: "https://i.embluejet.com/ImagenesMoxie/31505/images/AP_header.png",
      width: "100%",
      alt: "AP Latam"
    }
  } %}
  {% include "../components/header.njk" %}
{% endblock %}